# https://prettier.io

.git
node_modules/
package-lock.json

out/

# TODO: Gradually format source code
/src/**/*.*
!/src/subscriptions/TyranoCompletionItemProvider.ts
!/src/subscriptions/TyranoCreateTagByShortcutKey.ts
!/src/subscriptions/TyranoDefinitionProvider.ts
!/src/subscriptions/TyranoPreview.ts
!/src/subscriptions/TyranoReferenceProvider.ts
!/src/subscriptions/TyranoRenameProvider.ts
